[submodule "gundo"]
	path = gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim-argumentative"]
	path = vim-argumentative
	url = https://github.com/PeterRincker/vim-argumentative.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-ipython"]
	path = vim-ipython
	url = https://github.com/ivanov/vim-ipython.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim-swap-lines"]
	path = vim-swap-lines
	url = https://github.com/praveenv253/upAndDown
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "supertab"]
	path = supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim-repeat"]
	path = vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim-liquid"]
	path = vim-liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "vimtex"]
	path = vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "ale"]
	path = ale
	url = https://github.com/dense-analysis/ale
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim-slime"]
	path = vim-slime
	url = https://github.com/jpalardy/vim-slime.git
